<%- include("partials/header.ejs") %>

  <video autoplay muted loop playsinline class="bg-video">
    <source src="/videos/bg.mp4" type="video/mp4">
  </video>
  
  <main>
    <a href="/map" class="home-link">
      <h1 class="home-title">Find Class!!!</h1>
    </a>
  </main>

  <%- include("partials/footer.ejs") %>